.contenedor_header{
    background: #1A1A1A;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    font-family:  "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    
}

.contenedor_header header{
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 20px;
}

.Nombre{
    font-family:  "Audiowide", sans-serif;
    font-size: 130%;
    color: #4B0082;
    text-decoration: none;
    transition: .5s;
    display:inline-flex;
    
}




.Nombre:hover{

    transition: .5s;
    color: rgb(184, 119, 236);
    
}

.menu1{
    font-family:  "Audiowide", sans-serif;
    display:inline-flex;
    list-style:none;
}

.parte {
    font-size: 120%;
    text-align: none;
    color: #8dc263;
    margin: 0 30px;
    padding: 5px;
    transition: .5s;
    text-decoration: none;
}
.parte:hover {
    color: rgb(184, 119, 236);
}