th,td{

    padding: 1%;

}

.Intereses{
    
    padding: 20px;
    max-width: 1050px;
    background-color: #2F2F2F;
    margin:auto;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    

}

.Intereses_titulo{

    color: #6c4092;  
    text-align: center;
    font-size: 23PX;
    font-family: "Gabarito", sans-serif;

}

.pasa{

    width: 150px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: .3s;
    color:  #cecece;
    cursor: pointer;    

}

.pasa:hover{

    transition: .5s;
    color: rgb(184, 119, 236);
    

}

.Hobbies_img{

    font-size: 110%;
    padding:10px;
    margin-top: 15px;
    transition: .5s;   

}

