.Portafolio{
    background:#1A1A1A;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    
    
}

.Porta{

    padding: 20px;
    max-width: 90%;
    background-color: #2F2F2F;
    margin:auto;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 7px 13px 37px #222f5b

}

.Portafolio_titulo{

    color: #6c4092;  
    
    text-align: center;
    font-size: 200%;
    font-family:  "Gabarito", sans-serif;

}

.aux{

    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    

}

.Folio{
    font-size: 120%;
    padding: 20px;
    max-width: 1000px;
    margin:auto;
    text-align: center;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    font-family: "Gabarito", sans-serif;
    color:  rgb(150, 240, 128);
    display:flex;
    align-items:center;
    flex-direction:column;
    
}

.link_pag{
    
    padding: 20px;
    font-size: 120%;
    text-decoration: none;
    color:  rgb(150, 240, 128);
    background-color: #1e2326;
    border-radius: 10px;
    margin: 0 15px 15px 0;

}

.img-folio{

    height: 200px;
    width:400px;

}