.Sobremi{

    padding: 20px;
    max-width: 1050px;
    background-color: #2F2F2F;
    margin:auto;
    text-align: center;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 7px 13px 37px #222f5b;


}

.Titulo_Sobremi{

    color: #6c4092;
    text-align: center;
    font-size: 31PX;
    font-family: "Gabarito", sans-serif;

}

.info_Sobremi{

    color:  #cecece;
    font-size: 134%;

}
